/** @format */

.home {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  &-title {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu';
    font-size: 2rem;
  }
}
