/** @format */
.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  text-transform: uppercase;
  position: relative;

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 15%;
    margin-right: 1rem;

    a:link,
    a:visited {
      text-decoration: none;
      color: black;
    }
  }
}

.logo {
  margin-left: 1rem;
  height: 2.5rem;
  color: black;
}
